@font-face {
    font-family: 'Poppins';
    src: url(./asesst/font/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-Extrabold';
    src: url(./asesst/font/Poppins-ExtraBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#root {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .5s ease;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F172A;
    padding: 0px 10px;
    position: sticky;
    top: 0;
    z-index: 2;

    img {
        width: 90px;
        border-radius: 30px;
        padding: 5px;
    }

    nav {
        display: flex;
        align-items: center;
        gap: 10px;

        svg {
            stroke: #ffff;
            transition: all 0.3s ease-in-out;
        }

        svg:hover {
            stroke: red;
        }

        p {
            color: #ffff;
        }
    }
}

section.see_video {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .see_video_video {
        width: 100%;
        display: flex;
        gap: 40px;

        .video_bar {
            width: 60%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .video_img {
                width: 840px;
                height: 580px;
                background-image: url(./asesst/img/Frame\ 427318906.png);
                background-repeat: no-repeat;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 9px 10px;
                    border-radius: 60px;
                    background-color: aliceblue;
                }
            }

            .video_description {
                .buttons {
                    display: flex;
                    gap: 24px;
                    border-bottom: 1px solid;
                    padding-bottom: 30px;

                    button {
                        cursor: pointer;
                        padding: 18px 42px;
                        border: 1px solid #b3c8f7;
                        font-size: 16px;
                    }

                    button:hover {
                        background-color: #babdc4;
                    }
                }

                .descriptions {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    gap: 20px;
                    border-bottom: 1px solid #5e8df5;
                    padding: 10px;

                    .box {
                        padding-bottom: 10px;

                        h1 {
                            font-size: 24px;
                            font-weight: 500;
                            color: 141F38;
                            font-family: 'Poppins-Extrabold';
                        }

                        p {
                            padding-left: 20px;
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                }
            }
            .instructor{
                display: flex;
                flex-direction: column;
                gap: 10px;
                border-bottom: 1px solid #5e8df5;
                h1{
                    font-size: 25px;
                }
                .about_ins{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    a{
                        font-size: 20px;
                        color: #2563EB;
                    }
                }
                .about_cours{
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    img{
                        border-radius: 100px;
                    }
                    &>div{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        h6{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            font-size: 14px;
                            a{
                                color: #2563EB;
                                img{
                                    width: 24px;
                                    height: 24px;
                                }
                            }
                        }
                    }
                }
                h2{
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }

        .video_sidebar {
            width: 32%;
            max-height: 600px;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            align-items: start;
            background-color: #E2E8F0;
            padding: 10px;
            h1 {
                font-size: 24px;
            }
            
     }
          
}
}
  .hidden {
      display: none;
  }
  .show {
    max-width: 450px;
    display: block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 30px 10px 30px 10px;
    border: 1px solid #bfc1c4;
    transition: all .3s ease;
    margin-bottom: 1px;
    input{
        width: 25px;
        height: 30px;
    }
    &>div{
    display: flex;
    align-items: center;
    gap: 8px;
   
    }

  }
  .hov:hover{
    background-color: #0F172A;
    color: #ffff;
  }
  .rotated {
      transform: rotate(180deg);
      transition: transform 0.3s ease-in-out;
  }

 .toggle-button {
     display: flex;
     align-items: center;
     cursor: pointer;
 }

 .toggle-button img {
     transition: transform 0.3s ease-in-out;
     margin-right: 10px;
 }
 section.courses_by_ins{
     display: flex;
     flex-direction: column;
     gap: 50px;
     margin-top: 20px;
     h1{
         font-size: 24px;
     }
     .cours{
        width: 100%;
         display: flex;
         gap: 20px;
         overflow: hidden;
         position: relative;
    }
    .cours_wrapper {
        display: flex;
        width: 200%;
        animation: slide 8s infinite linear;
    }
     .cours_card{
        width: 25%;
        flex: 0 0 auto;
        background: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        &>div{
            display: flex;
            align-items: center;
        }
     }
        @keyframes slide {
            0% {
                transform: translateX(0%);
            }
    
            25% {
                transform: translateX(-25%);
            }
    
            50% {
                transform: translateX(-50%);
            }
    
            75% {
                transform: translateX(-75%);
            }
    
            100% {
                transform: translateX(0%);
            }
        }
 }
  
